<ion-toolbar>
  <ion-row>
    <ion-col col-2>
      <button ion-button icon-only (click)="onSlideChangedLeft($event)">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-8>
      <h1 class="center">{{ currentSlide }}</h1>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-only (click)="onSlideChangedRight($event)">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-slides  #tablaSlider (ionSlideDidChange)="onSlideChangedByFinger($event)">
    <ion-slide>
      <div style="overflow-x:auto;">
        <table style="width:100%;">
          <tr>
            <th>Equipo</th>
            <th>PJ</th>
            <th>GF</th>
            <th>GC</th>
            <th>DF</th>
            <th>PT</th>
          </tr>
          <tr *ngFor="let equipo of cargaTablas.equiposTabla1 | reversePipe">
            <td>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <img src="assets/soccer-shields/png/{{ equipo.nombre }}.png" class="escudo">
                  </ion-col>
                  <ion-col class="team-name" col-8>
                    {{ equipo.nombre }}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </td>

            <td>{{ equipo.partidosJugados }}</td>
            <td>{{ equipo.goles }}</td>
            <td>{{ equipo.golesContra }}</td>
            <td>{{ equipo.diferenciaGol }}</td>
            <td>{{ equipo.puntos }}</td>

          </tr>
        </table>
     </div>
    </ion-slide>

    <ion-slide>
      <div style="overflow-x:auto;">
      <table style="width:100%;">
        <tr>
          <th>Equipo</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Goles</th>
        </tr>
        <tr *ngFor="let equipo of cargaTablas.equiposTabla2 | reversePipe">
          <td>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/soccer-shields/png/{{ equipo.nombre }}.png" class="escudo">
                </ion-col>
                <ion-col class="team-name" col-8>
                  {{ equipo.nombre }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </td>

          <td></td>
          <td></td>
          <td></td>
          <td>{{ equipo.goles }}</td>
        </tr>
      </table>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="overflow-x:auto;">
      <table style="width:100%;">
        <tr>
          <th>Equipo</th>
          <th></th>
          <th>TA</th>
          <th></th>
          <th>TR</th>
          <th></th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let equipo of cargaTablas.equiposTabla3 | reversePipe">
          <td>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/soccer-shields/png/{{ equipo.nombre }}.png" class="escudo">
                </ion-col>
                <ion-col class="team-name" col-8>
                  {{ equipo.nombre }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </td>

          <td></td>
          <td>{{ equipo.tarjetasA }}</td>
          <td></td>
          <td>{{ equipo.tarjetasR }}</td>
          <td></td>
          <td>{{ equipo.totalTarjetas }}</td>
        </tr>
      </table>
      </div>
    </ion-slide>

</ion-slides>

</ion-content>
