
<ion-toolbar>
  <ion-row>
    <ion-col col-2>
      <button ion-button icon-only (click)="onSlideChangedLeft($event)">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-8>
      <h1 class="center">Fecha {{ cargaFechas.fechaActual }}</h1>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-only (click)="onSlideChangedRight($event)">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>


<ion-content padding class="FechaPage">

  <ion-slides  #fechaSlider (ionSlideDidChange)="onSlideChangedByFinger($event)">

    <ion-slide *ngFor="let fecha of cargaFechas.todosPartidos">

      <ion-card *ngFor="let partido of fecha">

        <ion-card-content *ngIf="partido.jugado == true">
          <ion-grid>
            <ion-row>
              <ion-col col-3>
                <img src="assets/soccer-shields/png/{{partido.local}}.png" alt="">
              </ion-col>
              <ion-col col-6>
                <div>
                  <br>
                  <h1 class="center">{{partido.lGoles}}    -    {{partido.vGoles}}</h1>
                  <div>
                    <ion-row>
                      <ion-col col-4>
                        <img src="assets/imgs/Yellow_card.png" class="small-cards left-card">
                      </ion-col>
                      <ion-col col-4>
                        <h1 class="center" style="font-size:13px;">{{partido.lTa}} - {{partido.lTa}}</h1>
                      </ion-col>
                      <ion-col col-4>
                        <img src="assets/imgs/Yellow_card.png" class="small-cards">
                      </ion-col>
                   </ion-row>
                   <ion-row>
                     <ion-col col-4>
                       <img src="assets/imgs/Red_card.png" class="small-cards left-card">
                     </ion-col>
                     <ion-col col-4>
                       <h1 class="center" style="font-size:13px;">{{partido.lTr}} - {{partido.lTr}}</h1>
                     </ion-col>
                     <ion-col col-4>
                       <img src="assets/imgs/Red_card.png" class="small-cards">
                     </ion-col>
                  </ion-row>
                  </div>
                </div>
              </ion-col>
              <ion-col col-3>
                <img src="assets/soccer-shields/png/{{partido.visitante}}.png" alt="">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

        <ion-card-content *ngIf="partido.jugado == false">
          <ion-grid>
            <ion-row>
              <ion-col col-3>
                <img src="assets/soccer-shields/png/{{partido.local}}.png" alt="">
              </ion-col>
              <ion-col col-6>
                <div>
                  <br>
                  <h1 class="center">    vs    </h1>
                  <div>
                    <ion-row>
                      <ion-col col-4>
                        <img src="assets/imgs/Yellow_card.png" class="small-cards left-card">
                      </ion-col>
                      <ion-col col-4>
                        <h1 class="center" style="font-size:13px;"> - </h1>
                      </ion-col>
                      <ion-col col-4>
                        <img src="assets/imgs/Yellow_card.png" class="small-cards">
                      </ion-col>
                   </ion-row>
                   <ion-row>
                     <ion-col col-4>
                       <img src="assets/imgs/Red_card.png" class="small-cards left-card">
                     </ion-col>
                     <ion-col col-4>
                       <h1 class="center" style="font-size:13px;"> - </h1>
                     </ion-col>
                     <ion-col col-4>
                       <img src="assets/imgs/Red_card.png" class="small-cards">
                     </ion-col>
                  </ion-row>
                  </div>
                </div>
              </ion-col>
              <ion-col col-3>
                <img src="assets/soccer-shields/png/{{partido.visitante}}.png" alt="">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

      </ion-card>

    </ion-slide>

  </ion-slides>

</ion-content>
